/************************************************ google font *************************************************/

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/************************************************ css *************************************************/

.web-titel {
    font-family: 'Courgette', cursive;
}

.main-card {
    background-color: #37a8b9;
    color: white;
}

.card-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    padding: 3px;
    border-radius: 20px;
}

span,
li {
    font-style: italic;
    font-size: 18px;
    list-style: none;
    color: rgb(73, 67, 61);
}