/* googlr fonts */

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.web-titel {
    font-family: 'Courgette', cursive;
}

.main-card {
    background-color: #37a8b9;
    color: white;
}