/* googlr fonts */

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.web-titel {
    font-family: 'Courgette', cursive;
}

.main-card {
    background-color: #37a8b9;
    color: white;
}


/* #card-detiles {
    display: none !important;
    position: fixed;
    top: 10%;
    left: 22%;
    z-index: 1;
} */

.card-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    /* font-family: 'Tangerine', cursive; */
    font-style: italic;
    font-size: 18px;
}